<app-header (searchCrit)="searchVehicle($event)"></app-header>
<div class="container">
  <div class="row">
    <div class = "col-md-12">
      <div *ngFor="let vehicle of vehicles | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
        <div class="card card-custom">
          <div class="card-body">
            <h5 class="card-title">{{vehicle.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{vehicle.model}} - {{vehicle.vehicle_class}} - ${{vehicle.cost_in_credits}}</h6>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu volutpat lectus, vel ornare arcu. Pellentesque ac leo eu quam finibus luctus sit amet in risus.
            </p>
            <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#' + vehicle.url" (click)="getVehicleDetail(vehicle.url)">
              Show Detail
            </button>
            <div class="modal fade" id="{{vehicle.url}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{vehicle.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <ul>
                      <li><span class="tag-style">Model:</span> {{vehicle.model}}</li>
                      <li><span class="tag-style">Vehicle Class:</span> {{vehicle.vehicle_class}}</li>
                      <li><span class="tag-style">Manufacturer:</span> {{vehicle.manufacturer}}</li>
                      <li><span class="tag-style">Cost:</span> ${{vehicle.cost_in_credits}}</li>
                      <li><span class="tag-style">Minium Crew Needed:</span> {{vehicle.crew}}</li>
                      <li><span class="tag-style">Length:</span> {{vehicle.length}}</li>
                      <li><span class="tag-style">Maximum atmosphere speed:</span> {{vehicle.max_atmosphering_speed}}</li>
                      <li><span class="tag-style">Maximum passenger:</span> {{vehicle.passengers}}</li>
                      <li><span class="tag-style">Appeared in films:</span> <div *ngFor="let film of vehicle.films">{{film}}</div></li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="getVehicles($event)"></pagination-controls>
    </div>
  </div>
</div>
<app-footer></app-footer>
