.bg-custom {
  padding: 20px 40px;
  width: 100%;
  background-image: url("../../../../assets/images/WorkshopImageUpload.png");
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
  z-index: 1;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  animation: smoothScroll 0.5s forwards;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}

.header-title {
  font-size: large;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  font-weight: bold;
}

.btn-outline-custom{color:#FEFD2D;background-color:transparent;background-image:none;border-color:#FEFD2D}
.btn-outline-custom:hover{color:#222;background-color:#FEFD2D;border-color:#FEFD2D}
.btn-outline-custom:focus,
.btn-outline-custom.focus{box-shadow:0 0 0 .2rem #FEFD2D}
