<nav class="navbar bg-custom justify-content-between mobile-menu">
  <a class="navbar-brand" href="">
    <div class ="header-title">
      The
      <img src="../../../../assets/images/logo.png" height="30px">
      Library
    </div>
  </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" [(ngModel)]="vehicleName" name="vehicleName" type="text" placeholder="Enter vehicle name..." aria-label="Search">
    <button class="btn btn-outline-custom my-2 my-sm-0" type="submit" (click)="onSubmit()">Search</button>
  </form>
</nav>

