<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Our team</h4>
          <ul class="list-unstyled">
            <li><a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a sapien sed velit dictum rhoncus. Cras nec libero eget tellus maximus tincidunt eget id tortor. Sed in semper leo, accumsan ullamcorper magna. Curabitur quis arcu vitae magna luctus ullamcorper id a nunc. Quisque volutpat leo et tellus cursus dictum</a></li>
          </ul>
        </div>
      </div>
    	<div class="col-md-3">
    		<h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - Company Name.  All rights reserved.</p>
		</div>
	</div>


  </div>
  </div>
</footer>
